qwen25-coder/XML/50745.xml

<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema">\n  <xs:element name="Table1">\n    <xs:complexType>\n      <xs:sequence>\n        <xs:element name="CategoryID" type="xs:string" />\n        <!-- Allow DBNull for ParentCategoryID -->\n        <xs:element name="ParentCategoryID" type="xs:string" minOccurs="0" />\n      </xs:sequence>\n    </xs:complexType>\n  </xs:element>\n</xs:schema>