qwen25-coder/XML/50941.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">\n    <xs:element name="root">\n        <xscomplexType>\n            <xs:choice minOccurs="0" maxOccurs="unbounded">\n                <xs:sequence>\n                    <xs:element ref="A" minOccurs="0" maxOccurs="unbounded"/>\n                    <xs:element ref="B"/>\n                    <xs:element ref="A" minOccurs="0" maxOccurs="unbounded"/>\n                </xs:sequence>\n                <xs:sequence>\n                    <xs:element ref="A" minOccurs="0" maxOccurs="unbounded"/>\n                    <xs:element ref="C"/>\n                    <xs:element ref="A" minOccurs="0" maxOccurs="unbounded"/>\n                </xs:sequence>\n                <xs:sequence>\n                    <xs:element ref="A" minOccurs="0" maxOccurs="unbounded"/>\n                    <xs:element ref="D"/>\n                    <xs:element ref="A" minOccurs="0" maxOccurs="unbounded"/>\n                </xs:sequence>\n            </xs:choice>\n        </xs:complexType>\n    </xs:element>\n\n    <!-- Define elements A, B, C, D -->\n    <xs:element name="A" type="xs:string"/>\n    <xs:element name="B" type="xs:string"/>\n    <xs:element name="C" type="xs:string"/>\n    <xs:element name="D" type="xs:string"/>\n</xs:schema>