qwen25-coder/XML/51127.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">\n  <xs:element name="Questions">\n    <xs:complexType>\n      <xs:sequence>\n        <xs:element name="MainQuestion" type="QuestionType" maxOccurs="unbounded"/>\n        <xs:element name="AlternateQuestion" type="QuestionType" maxOccurs="unbounded"/>\n      </xs:sequence>\n    </xs:complexType>\n    <!-- Define a unique constraint for MainQuestion -->\n    <xs:key name="uniqueMainQuestion">\n      <xs:selector xpath="MainQuestion"/>\n      <xs:field xpath="@id"/> <!-- Assuming you have an 'id' attribute to check uniqueness -->\n    </xs:key>\n    \n    <!-- Define another unique constraint for AlternateQuestion -->\n    <xs:key name="uniqueAlternateQuestion">\n      <xs:selector xpath="AlternateQuestion"/>\n      <xs:field xpath="@id"/>\n    </xs:key>\n  </xs:element>\n\n  <xs:complexType name="QuestionType">\n    <xs:attribute name="id" type="xs:string" use="required"/>\n  </xs:complexType>\n</xs:schema>