qwen25-coder/XML/51158.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">\n  <xs:element name="data">\n    <xs:complexType>\n      <xs:sequence maxOccurs="unbounded">\n        <xs:choice>\n          <xs:element ref="int"/>\n          <xs:element ref="float"/>\n          <xs:element ref="array"/>\n        </xs:choice>\n      </xs:sequence>\n    </xs:complexType>\n  </xs:element>\n\n  <!-- Define int, float, and array elements here. -->\n  <xs:element name="int" type="xs:integer"/>\n  <xs:element name="float" type="xs:float"/>\n  \n  <xs:element name="array">\n    <xs:complexType>\n      <xs:sequence maxOccurs="unbounded">\n        <xs:choice>\n          <xs:element ref="int"/>\n          <xs:element ref="float"/>\n          <!-- Add more element types here if necessary. -->\n        </xs:choice>\n      </xs:sequence>\n    </xs:complexType>\n  </xs:element>\n\n</xs:schema>