qwen25-coder/XML/51714.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">\n    <xs:element name="boats" type="BoatsType"/>\n    \n    <xs:complexType name="BoatsType">\n        <xs:sequence>\n            <xs:element name="boat" maxOccurs="unbounded" type="BoatType"/>\n        </xs:sequence>\n    </xs:complexType>\n    \n    <xs:complexType name="BoatType">\n        <xs:sequence>\n            <xs:element name="type" type="xs:string"/>\n            <xs:element name="foot" type="FootLengthType"/>\n        </xs:sequence>\n    </xs:complexType>\n    \n    <xs:simpleType name="FootLengthType">\n        <xs:union memberTypes="SharkFootLength YachtFootLength OtherBoatFootLength"/>\n    </xs:simpleType>\n    \n    <xs:simpleType name="SharkFootLength">\n        <xs:restriction base="xs:integer">\n            <xs:pattern value="1[5-9]|2[0-9]|30"/>\n        </xs:restriction>\n    </xs:simpleType>\n    \n    <xs:simpleType name="YachtFootLength">\n        <xs:restriction base="xs:integer">\n            <xs:minInclusive value="30"/>\n            <xs:maxInclusive value="60"/>\n        </xs:restriction>\n    </xs:simpleType>\n    \n    <xs:simpleType name="OtherBoatFootLength">\n        <xs:restriction base="xs:integer">\n            <xs:minExclusive value="0"/>  <!-- Assuming any positive length is valid for other boat types -->\n        </xs:restriction>\n    </xs:simpleType>\n</xs:schema>