llama31/XML/64916.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">\n  <xs:element name="data">\n    <xs:complexType>\n      <xs:choice maxOccurs="unbounded">\n        <xs:element name="array" type="xs:anyType"/>\n        <xs:element name="float" type="xs:float"/>\n        <xs:element name="int" type="xs:int"/>\n      </xs:choice>\n    </xs:complexType>\n  </xs:element>\n</xs:schema>