llama31/XML/65373.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"\n           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"\n           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema\n           http://www.w3.org/2001/XMLSchema.xsd"\n           version="1.1">\n\n  <xs:element name="animal">\n    <xs:complexType>\n      <xs:attribute name="name" type="xs:string"/>\n      <xs:attribute name="eats" type="xs:string"/>\n      <xs:assert test="not(ancestor::animal[@name=current()/@eats])"\n                 message="Cyclic reference detected"/>\n    </xs:complexType>\n  </xs:element>\n</xs:schema>