llama31/XML/65903.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">\n  <xs:element name="person">\n    <xs:complexType>\n      <xs:sequence>\n        <xs:element name="name" type="xs:string"/>\n      </xs:sequence>\n      <xs:attribute name="id" type="xs:ID"/>\n    </xs:complexType>\n  </xs:element>\n  <xs:element name="address">\n    <xs:complexType>\n      <xs:sequence>\n        <xs:element name="street" type="xs:string"/>\n      </xs:sequence>\n      <xs:attribute name="personId" type="xs:IDREF"/>\n    </xs:complexType>\n  </xs:element>\n  <xs:key name="personKey">\n    <xs:selector xpath="person"/>\n    <xs:field xpath="@id"/>\n  </xs:key>\n  <xs:keyref name="addressPersonRef" refer="personKey">\n    <xs:selector xpath="address"/>\n    <xs:field xpath="@personId"/>\n  </xs:keyref>\n</xs:schema>