llama31/XML/66194.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">\n  <xs:element name="Item">\n    <xs:complexType>\n      <xs:simpleContent>\n        <xs:extension base="xs:string">\n          <xs:attribute name="ItemGUID" type="ItemGUIDType" use="required"/>\n        </xs:extension>\n      </xs:simpleContent>\n    </xs:complexType>\n  </xs:element>\n  \n  <xs:simpleType name="ItemGUIDType">\n    <xs:restriction base="xs:string">\n      <xs:maxLength value="36"/>\n    </xs:restriction>\n  </xs:simpleType>\n  \n  <xs:simpleType name="ItemNameType">\n    <xs:restriction base="xs:string">\n      <xs:maxLength value="25"/>\n    </xs:restriction>\n  </xs:simpleType>\n</xs:schema>